header, nav, article, aside, footer {
    border:2px solid rgb(253, 0, 0);
    text-align:center;
    background:rgb(217, 241, 4, 0.945);
    margin:5px;
}

section{
    display:flex; 
    margin:0;
}

nav{
    flex:1;
}
article{
    flex:3;
}
aside{
    flex:1;
}
footer{

}

@media only screen and (max-width: 660px) {
    section {
      flex-direction:column;
    }
  }